@page
@model IndexModel
@{
    ViewData["Title"] = "GIDEVOPS";
}

<div class="text-center">
    <h1 class="display-4">Application - Version 2</h1>
    <p>Learn about <a href="https://github.com">ASP.NET Core</a>.</p>
</div>
